<a href="https://colab.research.google.com/github/AbbasAhmad154/AbbasAhmad154/blob/main/Assignment_02_Basics_of_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Name : Abbas Ahmad**
# **Assignment 02 Advanced AI**
# **City : Swabi KPK**
# **Email : aa6057467@gmail.com**

# 1. Count Vowels and Consonants:

In [5]:
def count_vowels_consonants(string):
    vowels = "aeiouAEIOU"
    vowel_count = sum(1 for char in string if char in vowels)
    consonant_count = sum(1 for char in string if char.isalpha() and char not in vowels)
    print("Number of vowels:", vowel_count)
    print("Number of consonants:", consonant_count)

count_vowels_consonants("Hello, World!")

Number of vowels: 3
Number of consonants: 7

# 2. File Extension:

In [4]:
#filename = input("Enter the filename: ")
#extension = filename.split('.')[-1]
#print("File extension:", extension)

# 3. Check Value in Dictionary:

In [6]:
sample_dict = {'a': 100, 'b': 200, 'c': 300}
print("200 exists in dictionary:", 200 in sample_dict.values())

200 exists in dictionary: True

# 4. Access Nested Tuple Value:

In [7]:
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))
print("Value:", tuple1[1][1])

Value: 20

# 5. Calculate BMI:

In [8]:
weight = float(input("Enter weight (kg): "))
height = float(input("Enter height (m): "))
bmi = weight / (height ** 2)
print("BMI:", bmi)

if bmi < 18.5:
    print("Underweight")
elif 18.5 <= bmi < 25:
    print("Normal weight")
elif 25 <= bmi < 30:
    print("Overweight")
else:
    print("Obese")

Enter weight (kg): 50
Enter height (m): 5
BMI: 2.0
Underweight

# 6. Character Frequency in String:

In [9]:
string = input("Enter a string: ")
freq = {char: string.count(char) for char in set(string)}
print(freq)

Enter a string: q
{'q': 1}

# 7. Check Valid Email Address:

In [10]:
email = input("Enter an email address: ")
if "@" in email and (email.endswith(".com") or email.endswith(".net")):
    print("Valid email address")
else:
    print("Invalid email address")

Enter an email address: aa2mwjgmail.com
Invalid email address

# 8. Sum of Elements in Each Inner Tuple:

In [11]:
tuples = ((1, 2, 3), (4, 5, 6), (7, 8, 9))
sums = [sum(inner) for inner in tuples]
print(", ".join(map(str, sums)))

6, 15, 24

# 9. First Three Prime Numbers:

In [12]:
numbers = [2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
primes = [num for num in numbers if all(num % i != 0 for i in range(2, int(num**0.5) + 1))]
print("List of the first three prime numbers:", primes[:3])

List of the first three prime numbers: [2, 3, 5]

# 10. Sort Students by Grades:

In [13]:
students = [
    {"name": "John", "age": 20, "grade": 85},
    {"name": "Alice", "age": 22, "grade": 90},
    {"name": "Bob", "age": 21, "grade": 80}
]
sorted_students = sorted(students, key=lambda x: x["grade"], reverse=True)
print(sorted_students)

[{'name': 'Alice', 'age': 22, 'grade': 90}, {'name': 'John', 'age': 20, 'grade': 85}, {'name': 'Bob', 'age': 21, 'grade': 80}]

# 11. Unique Values in List:

In [14]:
numbers = list(map(int, input("Enter numbers separated by commas: ").split(',')))
unique_values = list(set(numbers))
print("Total number of unique values:", len(unique_values))
print("Unique values in the list:", unique_values)

Enter numbers separated by commas: 1,2,3,4
Total number of unique values: 4
Unique values in the list: [1, 2, 3, 4]

# 12. Common Elements in Two Lists:

In [15]:
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]
common_elements = [x for x in list1 if x in list2]
print("Common Elements:", common_elements)

Common Elements: [4, 5]

# 13. Merge Dictionaries:

In [16]:
dict1 = {'a': 5, 'b': 10, 'c': 15}
dict2 = {'b': 20, 'c': 25, 'd': 30}
merged_dict = {k: dict1.get(k, 0) + dict2.get(k, 0) for k in set(dict1) | set(dict2)}
print(merged_dict)

{'b': 30, 'c': 40, 'a': 5, 'd': 30}

# 14. Power Calculation:

In [17]:
base = int(input("Enter the base: "))
exponent = int(input("Enter the exponent: "))
print("Result:", base ** exponent)

Enter the base: 2
Enter the exponent: 2
Result: 4

# 15. Celsius to Fahrenheit:

In [18]:
celsius = float(input("Enter temperature in Celsius: "))
fahrenheit = (celsius * 9/5) + 32
print("Temperature in Fahrenheit:", fahrenheit)

Enter temperature in Celsius: 37
Temperature in Fahrenheit: 98.6

# 16. Reverse List Without Built-in Functions:

In [19]:
lst = [1, 2, 3, 4, 5]
reversed_lst = []
for i in range(len(lst)-1, -1, -1):
    reversed_lst.append(lst[i])
print("Reversed List:", reversed_lst)

Reversed List: [5, 4, 3, 2, 1]

# 17. Reverse String Without Reversing Words:

In [20]:
string = "Hello World"
reversed_string = " ".join(string.split()[::-1])
print("Reversed String:", reversed_string)

Reversed String: World Hello

# 18. Palindrome Check:

In [21]:
def is_palindrome(string):
    return string == string[::-1]

print("Is 'radar' a palindrome?", is_palindrome("radar"))

Is 'radar' a palindrome? True

# 19. Even Numbers from List:

In [22]:
numbers = [2, 5, 3, 7, 9, 53, 10, 32, 65, 76, 98]
evens = [num for num in numbers if num % 2 == 0]
print("Even numbers:", evens)

Even numbers: [2, 10, 32, 76, 98]

# 20. Create Dictionary from Two Lists:

In [23]:
keys = ['a', 'b', 'c']
values = [1, 2, 3]
dictionary = dict(zip(keys, values))
print(dictionary)

{'a': 1, 'b': 2, 'c': 3}